# Ignore virtual environments
myenv/
env/
venv/
*/myenv/
*/env/
*/venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code / Codium
.vscode/

# Test artifacts
*.log
.pytest_cache/
.tox/
coverage.*
htmlcov/
.cache/

# Distribution/build
build/
dist/
*.egg-info/

# Dotenv and secrets
.env
*.env
